# local package
-e .

# external requirements
click
Sphinx
coverage
awscli
flake8
python-dotenv>=0.5.1
pandas>=2.2.2
numpy 
matplotlib
scikit-learn
seaborn 
plotly
fastapi
uvicorn 
pydantic 
pydantic-settings
